.test_0 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 350px;
  margin: 50px auto;
}
.test_1, .test_2, .test_3 {
  width: 100px;
  background-color: #333333;
  outline: 1px white solid;
}
.test_1 {
  height: 150px;
}
.test_1 {
  height: 110px;
}
.test_3 {
  height: 100px;
}